*{
  margin: 0;
  padding: 0;
}

body{
  background-color: #E0E0E0;
  padding: 25px;
  margin: 50px;
  font-family: "Times New Roman";
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  box-shadow: 10px 10px 5px gray;
}
.full-container{
flex-wrap: wrap;
}
.tittle{
  font-family: "Abril Fatface", serif;
  font-weight: 700;
  font-style: normal;
  transform: scale(2.5);
}

.text{
transform: scale(0.3);
margin-top: 0;
}

.left-container,.right-container{
  height: 100px;
  width: 80px;
  flex-wrap: wrap;
}

.left-head,.right-head{
  display: flex;
  background-color: #DCDCDC;
  width: 20%;
  border: 1px solid gray;
}

.content{
  padding: 10px;
}

.Head-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.timeDetails{
  display: flex;
  justify-content: space-between;
  padding: 7px;
}

.fullside{
 display: flex;
 margin-top: 30px;


}

.leftside{
  display: inline;
}

.firstblock{
width: 90%;
}

.firstimage{
height: 30vh;
width: 100%;
margin-top: 10px;
}

.midPortion{
display: flex;
width: 100%;
margin-top: 10px;
}

.midblock{
column-count: 2;
margin-top: 10px;
margin-bottom: 30px;
flex-wrap: wrap;
width: 90%;
}

.head{
margin-top: 30px;
}

.para{
margin-left: 20px;
}

.lastblock{
margin-top: 25px;
}

.lastportion{
column-count: 2;
column-gap: 0px;
margin-top: 20px;
width: 80%;
flex-wrap: wrap;
}

.lastportion img{
height: 300px;
width: 300px;
}
.content{
margin-top: 20px;
}

.rightsidefirstimage{
width: 100%;
height: 30vh;
}

.rightside,.firstblock{
margin-top: 10px;
}

.heading,.paragraph{
margin-top: 10px;
}

.rightsidelastblock{
margin-top: 20px;
border: 1px solid black;
padding: 15px;
}

.lastpara{
margin-top: 20px;
margin-bottom: 20px;
}

@media screen and (max-width:900px) {
  .lastportion{
    column-count: 1;
    }
    .tittle{
      transform: scale(1.5);
    }
  
}

@media screen and (max-width:650px) {
  .lastportion{
    column-count: 1;
    }
    .tittle{
      transform: scale(1.2);
    }
    .fullside{
      flex-wrap: wrap;
    }
    .left-container,.right-container{
      display: none;
    }
    
}